.App {
  text-align: center;
}

.main-container {
  margin: 10px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  display: flex;
  gap: 10px;
}

.progress-bar-container {
  padding: 10px;
  height: 100%;
  width: calc(100% - 150px);
  border: 1px solid rgb(86, 86, 86);
}

.progress-bar {
  height: 100%;
  background: #a7c957;
  transition: width 0.3s ease;
}

.input-container {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.percentage-input {
  width: 80px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border: 1px solid rgb(86, 86, 86);
  color: rgb(86, 86, 86);
  background: #f3f3f3;
  border-radius: 4px;
}

.percentage-label {
  font-size: 24px;
  font-weight: 400;
  color: rgb(86, 86, 86);
}